---
layout: default
---
<nav style="margin: auto; align-items: center; overflow: hidden;">
	<ul style="list-style-type: none;">
		<li style="float: left; margin: 0 auto; padding: 1em;"><a href="index.markdown">home</a></li>
		<li style="float: left; margin: 0 auto; padding: 1em"><a href="/about/">about</a></li>
		<li style="float: left; margin: 0 auto; padding: 1em"><a href="/posts/">logs</a></li>
		<li style="float: left; margin: 0 auto; padding: 1em"><a href="/misc/">et al</a></li>
	</ul>
</nav>


{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<p>Posts</p>
<ul style="list-style-type: none; padding: 0; margin-left: 5px;">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
    </li>
  {% endfor %}
</ul>
